@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
}

.container {
    width: 80%;
    margin: auto;
    padding-top: 50px;
}

.title {
    text-align: center;
    margin-bottom: 30px;
}

.content-section {
    display: flex;
    margin-bottom: 40px;
}

.content {
    flex: 1;
}

.content h2 {
    margin-bottom: 10px;
    color: #333;
}

.content p {
    color: #666;
}

.social {
    margin-top: 20px;
}

.social a {
    margin-right: 10px;
    color: #666;
}

.image-section {
    flex: 1;
    text-align: center;
}

.image-section img {
    max-width: 30%;
    height: auto;
    border-radius: 50%;
}

.form {
    margin-top: 50px;
    text-align: center;
}

form {
    max-width: 400px;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form p {
    text-align: left;
    margin-bottom: 10px;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input[type="email"],
form input[type="text"],
form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

form button {
    background-color: #0678e2;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #0063c1;
}